* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

@media screen and (max-width: 768px) {

    /* Header Section */

    .header {
        display: flex;
        justify-content: space-evenly;
    }
   
    .toggler {
        width: 50px;
        height: 41px;
        border: 2px solid #06C167;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .line {
        width: 80%;
        height: 6px;
        background-color: #06C167;
    }
    .nav-bar {
        display: none;
    }

    /* Hero Section */
    .hero-section {
        height: 932px;
    }
    .heading-container {
        width: 320px;
        height: 186px;
        text-align: center;
        top: 114px;
        left: 20%; 
    }
     .heading-container h1 {
        font-size: 51px;
     }
    .hero-para-container {
        top: 325px;
        left: 20%;
        width: 316px;
        height: 66px;
    }
    .hero-para-container p {
        text-align: center;
    }
    .hero-button {
        width: 320px;
        height: 68px;
        left: 20%;
    }
    .hero-image {
        width: 320px;
        height: 470px;
        top: 559px;
        left: 20%;
        margin-top: 30px;
    }
    .ratings {
        width: 230px;
        height: 53px;
        left: 30%;
        top: 935px;
    }
    .outline {
        left: 60%;
        top: 873px;
    }
    .review {
        left: 30%;
        top: 996px;
    }
    .hero-logo {
        left: 20%;
        top: 1081px;
        flex-wrap: wrap;
        width: 320px;
        height: 88px;
        gap: 10px;
    }
    .hero-logo img {
        width: 124px;
        height: 29px;
    }
    .logo3 {
        align-self: center;
    }
    .hero-icon {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        left: 20%;
        top: 1227.5px;
        width: 324px;
        height: 497px;
        padding: 0;
    }
    .hero-sub-icon {
        width: 117px;
        height: 137px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .hero-sub-icon img {
        width: 70px;
        height: 70px;
    }
    .icon-text-container {
        flex-direction: column;
        justify-content: space-evenly;
        width: 117px;
        height: 40px;
        align-items: center;
        gap: 0;
    }
    
    .icon-text-container h6 {
        font-size: 9px;
        width: 117px;
        height: 22px;
        text-align: center;
    }
    
    .icon-text-container p {
        font-size: 7px;
        width: 117px;
        height: 17px;
        text-align: center;
    }
    /* Second Container */
    .first-image-container {
        top: 900px;
        left: 20%;
        width: 320px;
        height: 413px;
        background-color: #F3FAFB;
    }
    .first-image-container img {
        position: absolute;
        width: 274px;
        height: 417px;
        top: -20px;
        margin-left: 25px;
        margin-right: 10px;
    }
    .second-section-text-container {
        top: 1400px;
        left: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 100px;
    }
    .second-section-text-container h2 {
        font-size: 35px;
        margin: 0 0 0 0;
        text-align: center;
    }
     .second-section-text-container p {
        margin: 0 0 10px 0;
        text-align: center;
     }
    .second-container-list {
        position: absolute;
        top: 1500px;
        left: 20%;
        width: 253px;
        height: 220px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;    
    }
    .second-container-list-item {
        display: flex;
        margin: 0;
        width: 251px;
        height: 20px;
        justify-content: center;
    }
     
    
    /* Third Section */
    .third-section-item2 {
        position: absolute;
        top: 1800px;
        left: 20%;
        width: 320px;
        height: 460px;
        background-color: #F3FAFB;
        margin-top: 30px;
    }
    .third-section-item2 img {
        width: 277px;
        height: 489px;
        margin-left: 25px;
        position: absolute;
        top: -50px;
    }
    
    .third-section-item1 {
        position: absolute;
        width: 324px;
        height: 600px;
        top: 2400px;
        left: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .third-section-item1  p {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .third-section-item1 h2 {
        text-align: center;
        font-size: 35px;
    }
    .third-section-button {
        top: 3100px;
        left: 30%;
    }
    .third-section-menu {
        width: 250px;
        height: 300px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    
    /* Fourth Section */
    .fourth-section-paragraph {
        top: 3250px;
        left: 40%;
        text-align: center;
    }
    .fourth-section-heading {
        top: 3300px;
        left: 25%;
        margin-top: 1rem;
    }
    .fourth-section-heading h2 {
        font-size: 35px;
    }
    
    .fourth-section-item {
        top: 3400px;
        left: 20%;
        gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 293px);
        width: 320px;
        height: calc(292.5px * 8);
    }
     /* Fifth Section */ 
    .fifth-section-para {
        top: 5800px;
        left: 40%;
        margin-top: 30px;
    }
     .fifth-section-para p {
        text-align: center;
     }
    .fifth-section-heading {
        top: 5900px;
        left: 20%;
        text-align: center;
    }
     .fifth-section-heading h2 {
        font-size: 35px;
        text-align: center;
     }
    .fifth-section-menu {
        top: 6000px;
        grid-template-rows: repeat(4, 320px);
        width: 320px;
        height: calc(460px * 4);
        grid-template-columns: 1fr;
        left: 20%; 
    }
    /* Sixth Section */
    .sixth-section-item {
        top: 7500px;
        width: 100%;
        left: 0;
    }
     /* Footer Section */
    .first-footer-container {
        top: 8000px;
        left: 20%;
        width: 277px;
        height: 207px;
    }
    .first-footer-container h2 {
       text-align: center;
    }
    .first-footer-container p {
        text-align: center;
    }
    .first-footer-container img {
        margin-left: 30%;
    }
    .second-footer-container {
        top: 8250px;
        left: 35%;
    }
    .third-footer-container {
        top: 8500px;
        left: 35%;
    }
    .fourth-footer-container {
        top: 8750px;
        left: 20%;
    }
    .fourth-footer-container p:nth-of-type(1) {
      text-align: center;
    }
    .fourth-footer-container p:nth-of-type(2) {
       text-align: center;
    }
    .fourth-footer-container div {
        width: 333px;
        height: 104px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
    }
    .fourth-footer-container div input {
        width: 333px;
        height: 50px;
        border-color: #F3FAFB;
    }
    .fourth-footer-container div button {
        width: 333px;
        height: 50px;
        background-color: #06C167;
        border-color: #06C167;
    }    
  }
